<a id="section_CART"></a> 
## Workshop Final DS Digital House

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import seaborn as sns
pd.set_option('display.max_columns', None)

%matplotlib inline

## Importando os dados

In [3]:
# importando bases de treino e teste
df_test = pd.read_csv(r'https://raw.githubusercontent.com/faustinothiagos/Workshop_Final_DS_Digital_House_2022/main/DataSet/test.csv')
df_train = pd.read_csv(r'https://raw.githubusercontent.com/faustinothiagos/Workshop_Final_DS_Digital_House_2022/main/DataSet/train.csv')

c:\Users\Luquinhas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Agrupando os datasets para limpar os dados

In [4]:
# incluindo colunas para sperar os dados da mesma maneira que estavam originalmente
df_train['test'] = 0
df_test['test'] = 1

# incluindo coluna de score com nan nos dados de teste
df_test['Credit_Score'] = np.nan

In [5]:
# concatenando os datasets ja que eles tem as mesmas colunas

df_total = pd.concat([df_train, df_test], ignore_index = True)

In [6]:
print('dados de treino: ', df_train.shape)
print('dados de teste: ', df_test.shape)
print('todos os dados agrupados: ', df_total.shape)

dados de treino:  (100000, 29)
dados de teste:  (50000, 29)
todos os dados agrupados:  (150000, 29)

## Colunas dataset:

* ID - Identificador de entrada
* Customer_ID - ID cliente
* Month - Mês do ano
* Name - nome do cliente
* Age - Idade Cliente
* SSN - Social Security Number (CPF no Brasil)
* Occupation - Ocupação do cliente
* Annual_Income - renda anual
* Monthly_Inhand_Salary - Salario mensal do cliente
* Num_Bank_Accounts - quantidade de contas em bancos
* Num_Credit_Card - quantidade de cartões de crédito
* Interest_Rate - taxa de juros cartão de crédito
* Num_of_Loan - Quantidade de empréstimos feitos no banco
* Type_of_Loan - tipo de empréstimo feito pelo cliente
* Delay_from_due_date - qtd. de dias de atraso pagamento cartão
* Num_of_Delayed_Payment - Média de pagamentos atrasado pelo cliente
* Changed_Credit_Limit - Variação percentual de limite do cartão de crédito
* Num_Credit_Inquiries - Quantidade de "cobranças" no cartão
* Credit_Mix - mix de crédito do cliente
* Outstanding_Debt - restante à ser pago da dívida
* Credit_Utilization_Ratio - Taxa de utlização do cartão de crédito
* Credit_History_Age - Tempo de histórico de crédito do cliente
* Payment_of_Min_Amount - Pagamento minimo
* Total_EMI_per_month - Pagamento fixo em dolares por mes
* Amount_invested_monthly - Quantidade de dinheiro investido pelo cliente mensalmente
* Payment_Behaviour - Comportamento de pagamento cliente
* Monthly_Balance - Saldo Mensal Cliente
* Credit_Score - Target
* test - coluna utilizada para separar o dataset nos dados de treino e teste

In [2]:
# Esta função define a quantidade % de dados faltantes
def plot_nas(df: pd.DataFrame):
    if df.isnull().sum().sum() != 0:
        na_df = (df.isnull().sum() / len(df)) * 100      
        na_df = na_df.drop(na_df[na_df == 0].index).sort_values(ascending=False)
        missing_data = pd.DataFrame({'Missing Ratio %' :na_df})
        missing_data.plot(kind = "barh")
        plt.title("% de dados faltantes")
        plt.show()
    else:
        print('No NAs found')

## Checando os principais valores de algumas colunas

In [8]:
colunas = df_total.columns

for coluna in colunas:
    print('Variavel: ', coluna)
    print(20*'-')
    print(df_total[coluna].value_counts(dropna=False))

Variavel:  ID
--------------------
0x6470     1
0xddab     1
0x17832    1
0x125d2    1
0x1f57b    1
          ..
0x1a1a4    1
0x10557    1
0x1a955    1
0x19cf5    1
0x15db2    1
Name: ID, Length: 150000, dtype: int64
Variavel:  Customer_ID
--------------------
CUS_0x80ed    12
CUS_0x4edc    12
CUS_0x534a    12
CUS_0x3fe8    12
CUS_0x5049    12
              ..
CUS_0xb808    12
CUS_0x2f86    12
CUS_0x353a    12
CUS_0x5909    12
CUS_0xa46c    12
Name: Customer_ID, Length: 12500, dtype: int64
Variavel:  Month
--------------------
May          12500
April        12500
January      12500
February     12500
March        12500
June         12500
December     12500
October      12500
November     12500
July         12500
August       12500
September    12500
Name: Month, dtype: int64
Variavel:  Name
--------------------
NaN                 15000
Stevex                 66
Langep                 65
Jessicad               59
Raymondr               58
                    ...
Charlie Zhum            7
"John ODonnell"q        7
Bohany                  7
Paul Sv                 7
Timothyl                6
Name: Name, Length: 10140, dtype: int64
Variavel:  Age
--------------------
39      4198
32      4189
28      4173
26      4140
35      4130
        ...
2441       1
2824       1
8299       1
4718       1
7449       1
Name: Age, Length: 2524, dtype: int64
Variavel:  SSN
--------------------
#F%$D@*&8      8400
054-04-4459      12
329-64-3575      12
630-80-7645      12
335-49-3815      12
               ...
695-71-7676       7
093-84-7831       7
917-01-2750       7
803-44-6289       7
642-73-7670       6
Name: SSN, Length: 12501, dtype: int64
Variavel:  Occupation
--------------------
_______          10500
Lawyer            9899
Engineer          9562
Architect         9550
Mechanic          9459
Accountant        9404
Scientist         9403
Developer         9381
Media_Manager     9362
Teacher           9318
Entrepreneur      9277
Journalist        9122
Doctor            9114
Manager           8973
Musician          8858
Writer            8818
Name: Occupation, dtype: int64
Variavel:  Annual_Income
--------------------
36585.12      24
95596.35      23
17816.75      23
9141.63       23
20867.67      23
              ..
29346.17_      1
22264780.0     1
40115.26_      1
16968473.0     1
71980.26_      1
Name: Annual_Income, Length: 21192, dtype: int64
Variavel:  Monthly_Inhand_Salary
--------------------
NaN            22500
2295.058333       22
6082.187500       22
6358.956667       21
3080.555000       21
               ...
7047.111658        1
2731.559963        1
1295.107500        1
6376.020530        1
930.454797         1
Name: Monthly_Inhand_Salary, Length: 13684, dtype: int64
Variavel:  Num_Bank_Accounts
--------------------
6       19505
7       19231
8       19152
4       18286
5       18186
        ...
186         1
442         1
698         1
1210        1
1535        1
Name: Num_Bank_Accounts, Length: 1183, dtype: int64
Variavel:  Num_Credit_Card
--------------------
5       27669
7       24886
6       24802
4       21102
3       19816
        ...
343         1
1494        1
1110        1
260         1
1327        1
Name: Num_Credit_Card, Length: 1344, dtype: int64
Variavel:  Interest_Rate
--------------------
8       7515
5       7479
6       7089
12      6828
10      6799
        ...
1582       1
5676       1
3503       1
1326       1
4094       1
Name: Interest_Rate, Length: 2394, dtype: int64
Variavel:  Num_of_Loan
--------------------
3      21500
2      21423
4      20998
0      15543
1      15112
       ...
515        1
492        1
186        1
983        1
256        1
Name: Num_of_Loan, Length: 623, dtype: int64
Variavel:  Type_of_Loan
--------------------
NaN                                                                                                                                               17112
Not Specified                                                                                                                                      2112
Credit-Builder Loan                                                                                                                                1920
Personal Loan                                                                                                                                      1908
Debt Consolidation Loan                                                                                                                            1896
                                                                                                                                                  ...
Mortgage Loan, Credit-Builder Loan, Home Equity Loan, Auto Loan, Mortgage Loan, Mortgage Loan, and Mortgage Loan                                     12
Home Equity Loan, Debt Consolidation Loan, Auto Loan, Auto Loan, Credit-Builder Loan, Mortgage Loan, Home Equity Loan, and Credit-Builder Loan       12
Mortgage Loan, Student Loan, Mortgage Loan, Home Equity Loan, and Payday Loan                                                                        12
Auto Loan, Credit-Builder Loan, Credit-Builder Loan, Not Specified, Debt Consolidation Loan, and Mortgage Loan                                       12
Payday Loan, Home Equity Loan, Student Loan, Mortgage Loan, and Mortgage Loan                                                                        12
Name: Type_of_Loan, Length: 6261, dtype: int64
Variavel:  Delay_from_due_date
--------------------
 15    5355
 13    5185
 8     5004
 14    4949
 10    4926
       ...
 63      90
 65      86
-5       51
 66      44
 67      29
Name: Delay_from_due_date, Length: 73, dtype: int64
Variavel:  Num_of_Delayed_Payment
--------------------
NaN     10500
19       7949
17       7806
16       7721
15       7671
        ...
3489        1
1921        1
4239        1
97_         1
337         1
Name: Num_of_Delayed_Payment, Length: 1059, dtype: int64
Variavel:  Changed_Credit_Limit
--------------------
_                     3150
11.5                   197
8.22                   189
11.32                  189
7.35                   181
                      ...
-3.73                    1
26.41                    1
1.5600000000000005       1
-5.57                    1
31.45                    1
Name: Changed_Credit_Limit, Length: 4605, dtype: int64
Variavel:  Num_Credit_Inquiries
--------------------
4.0       15673
6.0       12486
3.0       12356
7.0       12353
8.0       11788
          ...
1408.0        1
2304.0        1
1578.0        1
2450.0        1
1174.0        1
Name: Num_Credit_Inquiries, Length: 1608, dtype: int64
Variavel:  Credit_Mix
--------------------
Standard    54858
Good        36597
_           30000
Bad         28545
Name: Credit_Mix, dtype: int64
Variavel:  Outstanding_Debt
--------------------
1360.45     36
1109.03     35
1151.7      35
460.46      35
611.96      24
            ..
66.93_       1
1453.61_     1
1254.45_     1
3077.57_     1
409.12_      1
Name: Outstanding_Debt, Length: 13622, dtype: int64
Variavel:  Credit_Utilization_Ratio
--------------------
25.980072    1
30.132101    1
35.529467    1
30.378928    1
37.136931    1
            ..
26.673121    1
35.285431    1
30.884916    1
28.008613    1
38.465296    1
Name: Credit_Utilization_Ratio, Length: 150000, dtype: int64
Variavel:  Credit_History_Age
--------------------
NaN                       13500
17 Years and 11 Months      628
18 Years and 4 Months       621
18 Years and 3 Months       617
19 Years and 9 Months       615
                          ...
0 Years and 3 Months         20
0 Years and 2 Months         15
33 Years and 11 Months       15
34 Years and 0 Months        14
0 Years and 1 Months          2
Name: Credit_History_Age, Length: 409, dtype: int64
Variavel:  Payment_of_Min_Amount
--------------------
Yes    78484
No     53516
NM     18000
Name: Payment_of_Min_Amount, dtype: int64
Variavel:  Total_EMI_per_month
--------------------
0.000000        15615
127.415681         12
31.729113          12
50.622855          12
33.146996          12
                ...
42058.000000        1
44562.000000        1
37867.000000        1
6931.000000         1
1145.203564         1
Name: Total_EMI_per_month, Length: 16960, dtype: int64
Variavel:  Amount_invested_monthly
--------------------
NaN                   6750
__10000__             6480
0.0                    275
42.976041006176224       1
301.44471156548235       1
                      ...
99.16278901368744        1
83.35362165687552        1
104.17691023142356       1
135.50353282410134       1
161.07776768033006       1
Name: Amount_invested_monthly, Length: 136498, dtype: int64
Variavel:  Payment_Behaviour
--------------------
Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
!@9#%8                              11400
Name: Payment_Behaviour, dtype: int64
Variavel:  Monthly_Balance
--------------------
NaN                                 1762
__-333333333333333333333333333__      15
207.25604032543592                     1
498.9564539301326                      1
214.94874942054545                     1
                                    ...
167.87289140095243                     1
407.49946987210404                     1
330.38640156921065                     1
271.88902429079394                     1
396.2470685318507                      1
Name: Monthly_Balance, Length: 148225, dtype: int64
Variavel:  Credit_Score
--------------------
Standard    53174
NaN         50000
Poor        28998
Good        17828
Name: Credit_Score, dtype: int64
Variavel:  test
--------------------
0    100000
1     50000
Name: test, dtype: int64

### Observações

1. Colunas numéricas com "_" ok
    * Age,
    * Annual_Income,
    * Monthly_Inhand_Salary,
    * Num_Bank_Accounts,
    * Num_Credit_Card,
    * Interest_Rate
    * Num_of_Loan
    * Delay_from_due_date
    * Num_of_Delayed_Payment
    * Changed_Credit_Limit
    * Num_Credit_Inquiries
    * Outstanding_Debt
    * Credit_Utilization_Ratio
    * Total_EMI_per_month
    * Amount_invested_monthly
    * Monthly_Balance
2. SSN #F%$D@*&8 ok
3. Occupation _______ ok
4. Type_of_Loan - transformar em lista e indexar
5. Changed_Credit_Limit "_" -> NaN ok
6. Credit_Mix "_" -> NaN ok
7. Credit_History_Age Transformar em qtd. Meses
8. Payment_of_Min_Amount "NM" -> NaN ok
9. Payment_Behaviour "!@9#%8" -> NaN e transformar dado ok

## ajustando os campos númericos que estão definidos como string por terem underlines em alguns registros

In [9]:
# Campos númericos que estão como string - retirar underline dos numeros

colunas_ul = ['Age', 'Annual_Income', 'Num_of_Loan', 'Num_of_Delayed_Payment',
              'Changed_Credit_Limit', 'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']
for row in colunas_ul:
    df_total[row] = df_total[row].str.replace(r'_+', '')

<ipython-input-9-307ac66e0f28>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_total[row] = df_total[row].str.replace(r'_+', '')

## Data Wrangling

In [10]:
# removendo caracter estranho do SSN
df_total['SSN'].replace('#F%$D@*&8', np.NaN, inplace=True)

In [11]:
# removendo os underlines e colocando NaN na coluna Occupation
df_total['Occupation'].replace('_______', np.NaN, inplace=True)

In [12]:
df_total['Changed_Credit_Limit'].replace(['_', ''], np.NaN, inplace=True)

In [13]:
df_total['Credit_Mix'].replace('_', np.NaN, inplace=True)

In [14]:
df_total['Payment_of_Min_Amount'].replace('NM', np.NaN, inplace=True)

In [15]:
df_total['Payment_Behaviour'].replace('!@9#%8', np.NaN, inplace=True)

In [17]:
# convertendo Credit_History_Age em quantidade de meses
def converter_mes(x):
    if pd.notnull(x):
        ano = int(x.split(' ')[0])
        mes = int(x.split(' ')[3])
        return (ano*12)+mes
    else:
        return x

df_total['Credit_History_age'] = df_total['Credit_History_Age'].apply(lambda x: converter_mes(x)).astype(float)

In [27]:
df_total['Type_of_Loan_ajustado'] = df_total['Type_of_Loan'].replace("[abc]* and ", " ", regex=True)

## Checando a quantidade de nas nos dados

In [3]:
plot_nas(df_total)

NameError: name 'df_total' is not defined

## Convertendo as colunas para os tipos de variáveis que fazem sentido para o dado

In [4]:
# aplicando as type para variaveis int

df_total['Age'] = df_total['Age'].astype('int')
df_total['Num_Bank_Accounts'] = df_total['Num_Bank_Accounts'].astype('int')
df_total['Num_Credit_Card'] = df_total['Num_Credit_Card'].astype('int')
df_total['Num_of_Loan'] = df_total['Num_of_Loan'].astype('int')
df_total['Num_of_Delayed_Payment'] = df_total['Num_of_Delayed_Payment'].astype('int', errors='ignore')

# float

df_total['Annual_Income'] = df_total['Annual_Income'].astype('float')
df_total['Monthly_Inhand_Salary'] = df_total['Monthly_Inhand_Salary'].astype('float')
df_total['Interest_Rate'] = df_total['Interest_Rate'].astype('float')
df_total['Delay_from_due_date'] = df_total['Delay_from_due_date'].astype('float')
df_total['Changed_Credit_Limit'] = df_total['Changed_Credit_Limit'].astype('float')
df_total['Num_Credit_Inquiries'] = df_total['Num_Credit_Inquiries'].astype('float')
df_total['Outstanding_Debt'] = df_total['Outstanding_Debt'].astype('float')
df_total['Credit_Utilization_Ratio'] = df_total['Credit_Utilization_Ratio'].astype('float')
df_total['Amount_invested_monthly'] = df_total['Amount_invested_monthly'].astype('float')
df_total['Total_EMI_per_month'] = df_total['Total_EMI_per_month'].astype('float')

# object

df_total['Occupation'] = df_total['Occupation'].astype('object')
df_total['Credit_Mix'] = df_total['Credit_Mix'].astype('object')
df_total['Payment_of_Min_Amount'] = df_total['Payment_of_Min_Amount'].astype('object')
df_total['Payment_Behaviour'] = df_total['Payment_Behaviour'].astype('object')

NameError: name 'df_total' is not defined